<!DOCTYPE HTML>
<html>
	<head>
		<title>Convocatoria de Prueba</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/progressbar.css">
		<link rel="stylesheet" href="assets/css/main.css" />
		<style>
      textarea.commentable {
        border: 3px solid #ccc;
        border-radius: 10px;
        padding: 10px;
      }
      textarea.commentable:focus {
        border-color: black;
      }
      textarea.commentable:active {
        border-color: black;
      }
    </style>
<!--		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

              <div align="center">
                <a href="index.html" class="logoup"><img src="images/ineel.png" alt="INEEL"></a>
                <hr>
              </div>
              
							<!-- Logo 
								<a href="index.html" class="logo">
									<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">SIFUCA</span>
								</a> -->

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
						  <li><a href="elements.html">Información básica del INEEL</a></li>
							<li><a href="elements.html">Investigadores</a></li>							
						  <li><a href="elements.html">Foro de discusión</a></li>
						  <li><a href="elements.html">Estadísticas</a></li>
						  <li><a href="generic.html">Ayuda</a></li>
						  <li><a href="generic.html">Contacto</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1 class="text-center">FORTALECIMIENTO INSTITUCIONAL PARA EL SUBSECTOR HIDROCARBUROS</h1>							
<!--							Inicio -->
<div class="container">
	<div class="row"><br />
		<div class="col-md-12">
<!--
    	<div class="progress">
        <a class="one primary-color" href="#general" data-toggle="tab">1</a>
        <a class="two primary-color" href="#tips" data-toggle="tab">2</a>
        <a class="three primary-color" href="#documentos" data-toggle="tab">3</a>
  			<div class="progress-bar" style="width: 100%;"></div>
		  </div>
-->
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#general" data-toggle="tab"><i class="fa fa-archive"></i> Información General</a></li>
        <li><a href="#tips" data-toggle="tab"><i class="fa fa-lightbulb-o"></i> Tip's y Comentarios</a></li>
<!--        <li><a href="#documentos" data-toggle="tab"><i class="fa fa-download"></i> Documentos</a></li>-->
        <li><a href="#someter" data-toggle="tab"><i class="fa fa-list"></i> Someter propuesta</a></li>
      </ul>
		  <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="general">
         <br>
          <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2 clearfix">
              <h3 class="text-center">Información General</h3>
              <p class="text-justify">
                El propósito de la convocatoria es el desarrollo de proyectos de formación de capacidades y fortalecimiento de la infraestructura científica y tecnológica cuyo objeto sea la investigación científica y tecnológica aplicada, la adopción, innovación, asimilación y desarrollo tecnológico en los temas de exploración, extracción y refinación de hidrocarburos, así como la producción de petroquímicos, con especial énfasis en la formación de recursos humanos especializados. 
              </p>
              <ul class="list-group">
                <li class="list-group-item">
                  <h4 class="list-group-item-heading">Fondo Sectorial CONACYT-SENER-Hidrocarburos</h4>
                  <p class="list-group-item-text">
                    <strong>Organismos: </strong>CONACYT-SENER
                  </p>
                </li>
                <li class="list-group-item">
                  <h4 class="list-group-item-heading">Vencimiento</h4>
                  <p class="list-group-item-text">
                    La convocatoria tiene cortes trimestrales:
                  </p>
                  <ol>
                    <li><i class="fa fa-calendar"></i> 25 de enero de 2016</li>
                    <li><i class="fa fa-calendar"></i> 25 de abril de 2016</li>
                    <li><i class="fa fa-calendar"></i> 25 de julio de 2016</li>
                    <li><i class="fa fa-calendar"></i> 24 de octubre de 2016</li>
                  </ol>
                </li>
              </ul>
              <hr>
              <h4>Archivos</h4>
              <div class="row">
                <div class="col-sm-4">
                 <a href="http://conacyt.gob.mx/index.php/el-conacyt/convocatorias-y-resultados-conacyt/convocatorias-fondos-sectoriales-constituidos/convocatoria-sener-conacyt-hidrocarburos-1/convocatorias-abiertas-fondos-sectoriales-constituidos-sener-conacyt-1/convocatoria-2015-02-fortalecimiento-institucional-para-el-subsector-hidrocarburos/10503-bases-de-la-convocatoria-135/file" target="_blank">
                  <h1 class="text-center"><i class="fa fa-file-pdf-o"></i></h1><h5 class="text-center">convocatoria</h5>
                  </a>
                </div>
                <div class="col-sm-4">
                 <a href="http://conacyt.gob.mx/index.php/el-conacyt/convocatorias-y-resultados-conacyt/convocatorias-fondos-sectoriales-constituidos/convocatoria-sener-conacyt-hidrocarburos-1/convocatorias-abiertas-fondos-sectoriales-constituidos-sener-conacyt-1/convocatoria-2015-02-fortalecimiento-institucional-para-el-subsector-hidrocarburos/10501-terminos-de-referencia-modalidad-a/file" target="_blank">
                  <h1 class="text-center"><i class="fa fa-file-pdf-o"></i></h1> <h5 class="text-center">Términos Mod. A</h5>
                  </a>
                </div>
                <div class="col-sm-4">
                 <a href="http://conacyt.gob.mx/index.php/el-conacyt/convocatorias-y-resultados-conacyt/convocatorias-fondos-sectoriales-constituidos/convocatoria-sener-conacyt-hidrocarburos-1/convocatorias-abiertas-fondos-sectoriales-constituidos-sener-conacyt-1/convocatoria-2015-02-fortalecimiento-institucional-para-el-subsector-hidrocarburos/10502-terminos-de-referencia-modalidad-b/file" target="_blank">
                   <h1 class="text-center"><i class="fa fa-file-pdf-o"></i></h1><h5 class="text-center">Términos Mod. B</h5>
                  </a>
                </div>
                <div class="col-sm-4">
                 <a href="http://conacyt.gob.mx/index.php/el-conacyt/convocatorias-y-resultados-conacyt/convocatorias-fondos-sectoriales-constituidos/convocatoria-sener-conacyt-hidrocarburos-1/convocatorias-abiertas-fondos-sectoriales-constituidos-sener-conacyt-1/convocatoria-2015-02-fortalecimiento-institucional-para-el-subsector-hidrocarburos/10941-te-rminos-de-referencia-modalidad-c/file" target="_blank">
                 <h1 class="text-center"><i class="fa fa-file-pdf-o"></i></h1><h5 class="text-center">Términos Mod. C</h5>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--
        <div class="tab-pane fade" id="documentos">
          <br>
          <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2 clearfix">
              <h3 class="text-center">Documentos y formatos</h3>
            </div>
          </div>
        </div>
-->
        <div class="tab-pane fade" id="tips">
           <br>
           <div class="row">
             <div class="col-sm-12 col-md-8 col-md-offset-2 clearfix">
               <h3 class="text-center">Tip's y Comentarios</h3>
                <iframe src="convocatorias/fish/Presentaci%C3%B3n%20de%20PowerPoint.pdf" frameborder="0" width="100%" height="550"></iframe>
                <hr>
                <h4>De otros usuarios</h4>
                <textarea name="comment" id="" cols="30" rows="2" class="commentable" placeholder="Deja tu cometario en esta caja"></textarea>
                <br>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-12 col-md-3" align="center">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/abecherian/128.jpg" alt="Investigador" class="img-responsive img-circle">
                      </div>
                      <div class="col-sm-12 col-md-9">
                        <h6>Claudio Marconni</h6>
                        <p class="text-justify">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. In odio ut nulla eos quia sit eum impedit quisquam quas quod!
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-12 col-md-3" align="center">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/tonychester/128.jpg" alt="Investigador" class="img-responsive img-circle">
                      </div>
                      <div class="col-sm-12 col-md-9">
                        <h6>Enzo Ferrari</h6>
                        <p class="text-justify">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ullam earum, officia minima quia est libero nemo voluptatibus soluta? Perspiciatis officia, sequi sint explicabo doloremque!
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
             </div>
           </div>
        </div>
        <div class="tab-pane fade" id="someter">
          <br>
          <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2 clearfix">
              <h3 class="text-center">Checklist</h3>
              <hr>
              <ul class="list-group" id="checklist">
                <li class="list-group-item" v-for="todo in todos" v-bind:class="{ 'completed' : todo.completed }">
                  <a href="{{ todo.link }}" target="_blank"><i class="fa fa-edit" v-if="todo.type == 'edit'"></i> <i class="fa fa-file-o" v-else></i> {{ todo.title }}</a> 
                  <span class="pull-right">
                    <button class="button small" 
                            v-bind:class="{ 'special' : todo.completed }"
                            v-on:click="todoCompleted(todo)">{{ todo.completed ? 'Completada' : 'Incompleta' }}
                    </button>
                  </span>
                </li>
              </ul>
              <div align="center">
                <button href="#!SometerPropuesta" class="button fit">Someter propuesta</button>
              </div>
            </div>
          </div>
        </div>
      </div>
	</div>
	</div>
</div>
							
						</div>
					</div>
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
		          <section>
		            <h3>Fondos <br>Nacionales</h3>
		            <strong>Dr. Ricardo López García</strong> <br>
		            Gerente de Comercialización y <br> Desarrollo de Negocios <br>
		            rlopez@iie.org.mx
		          </section>
		          <section>
                <h3>Fondos Internacionales</h3>
		            <strong>Mtra. Nora R. Pérez Flores</strong><br>
		            Coordinadora de Relaciones <br> Internacionales <br>
		            nrperez@iie.org.mx
		          </section>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
			<script src="sys/js/app.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>